<article class="single {{post_class}} line-numbers">

    {{#match @page.show_title_and_feature_image}}
        <header class="single-header gh-canvas">

            <h1 class="single-title">{{title}}</h1>

            {{#has tag="articles"}}
            <div class="single-meta">
                <span class="single-meta-item single-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date published_at format="MMMM DD, YYYY"}}
                    </time>
                </span>
                <span class="single-meta-item single-meta-length">
                    {{reading_time}}
                </span>
                <span class="single-meta-item">
                    <span class="author-list">
                        {{#foreach authors}}
                            <span class="author-image-placeholder u-placeholder square">
                                {{#if profile_image}}
                                    <img class="author-image u-object-fit" src="{{img_url profile_image size="xs"}}" alt="{{name}}" loading="lazy">
                                {{else}}
                                    <span class="u-object-fit">{{> "icons/avatar"}}</span>
                                {{/if}}
                            </span>
                            <span class="author-name">
                                <a href="https://railsgrowth.com/about/">{{name}}</a>
                            </span>
                        {{/foreach}}
                    </span>
                </span>
            </div>
            {{/has}}
        </header>
    {{/match}}

    <div class="single-content gh-content gh-canvas">
        {{content}}
    </div>

    {{#is "post"}}
    <div class="gh-canvas">
    <footer class="single-footer">

        <div class="single-footer-left">
            {{#prev_post}}
            <div class="navigation navigation-previous">
                <a class="navigation-link" href="{{url}}" aria-label="Previous post">
                    <span class="navigation-icon">{{> "icons/arrow-left"}}</span>
                </a>
            </div>
            {{/prev_post}}
        </div>

        <div class="single-footer-middle">

        </div>

        <div class="single-footer-right">
            {{#next_post}}
            <div class="navigation navigation-next">
                <a class="navigation-link" href="{{url}}" aria-label="Next post">
                    <span class="navigation-icon">{{> "icons/arrow-right"}}</span>
                </a>
            </div>
            {{/next_post}}
        </div>

    </footer>
    </div>
    {{/is}}

</article>
